<!DOCTYPE html>
<html>
  <head>
    <%- include('head', {header: header}) %>

    <style>
    </style>
    
    <script>
    </script>
  </head>
  
  <body>
    <div class="bg_white container">
      <div class="header text-center">
	    <p>Daily Report</p>
      </div>   

      <div>
        <% for(var i=0; i<dat.length; i++){ %>
        <div class="text-center">
          <span style="width:10%"><%= dat[i].id %></span>
          <span style="width:10%"><%= dat[i].uid %></span>
          <span style="width:20%"><%= dat[i].dt %></span>
          <span><%= dat[i].dr %></span>
        </div>
        <% } %>    
      </div>

    </div>

  </body>
</html>

